<!doctype html>
<html>
<head>
  <meta name="referrer" content="no-referrer" />
  <title>bookmarks</title>
  <meta name="viewport"
     content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0" />
<style type="text/css">
a {
  color: #adbac7;
  text-decoration: none;
}
textarea, input, textarea:focus, input:focus {
  background-color: #22272e !important;
  color: #adbac7 !important;
}
html {
  background-color: #22272e;
  color: #adbac7;
}
.header {
    font-size: 120%;
    background-color: #373e47;
}
.tag {
    background-color: #373e47;
    padding: 2px;
    font-size: 80%;
}
.when {
    font-size: 80%;
}
</style>
</head>
<body>
  {% block body %}{% endblock %}
</body>
</html>
